mixin archivo 
<<<<<<< HEAD
    div 
        div
            h2 TITULO 
        div Datos 
        div botones
=======
    div#archivo
        div
            a(href="/papelera") 
                img()        

>>>>>>> add22cb3ac3f3bf4fa4fc07293a785c8ed2eb271
