extends layout.pug
block content

    
    div(class="contenedorForm") 
        //- h1 REGISTRAR
        form#fRegistrarDoc(action="/registrar", method="POST" class="formulario" enctype="multipart/form-data") 
            div(class="cuerpoFormulario")
                div(class="pdf") 
                    h2 SELECCIONAR ARCHIVO 
                    label(for="abrirArchivo")
                        
                        br 
                        img(src="/img/pdf.svg", alt="")
                        input(id="abrirArchivo" type="file" name="pdf" accept="application/pdf") 
                        span(id="nombreArchivo")
                        //- script
                        //-     let input = document.getElementById("inputTag");
                        //-     let imageName = document.getElementById("imageName");
                        //-     input.addEventListener("change", ()=>{
                        //-     let inputImage = document.querySelector("input[type=file]").files[0];
                        //-     imageName.innerText = inputImage.name;});

                    //- img(src="/img/pdf.svg", alt="", srcset="")
                    //- input(type= "file" name="pdf" accept="application/pdf")
                div(class="datos")                     
                    h2 DATOS
                    label(for="") Fecha de Recepción 
                    input#f_recepcion(type="datetime-local", value="", name="f_recepcion") 
                    input#titulo(spellcheck="true" type="text", name='titulo', value='', placeholder="Titulo documento")  
                    label(for="") Fecha del documento
                    input#f_doc(type="date", name="f_doc")   
                    input#numHojas(type="number", name="hojas", min=1, placeholder="Número de hojas")                      
                    input#autor(type="text", name="autor", placeholder="Autor")            
                    textarea#descripcion(spellcheck="true" name="descripcion" cols="auto" rows="5" placeholder="Descripción")
                    label(for="") Fecha de Remisión
                    input#f_remision(type="datetime-local", name="f_remision")        
                    //- input#oficina(type="text", name="oficina", placeholder="Oficina/área")                    
                    //- label(for="idOficina") OFICINA
                    select(name="oficina" placeholder="Elegir")
                        option(value="" ) Elegir Oficina
                        option(value="epidemilogia") Epidemilogia
                        option(value="archivo general") Archivo General
                        option(value="personal") Personal
                        option(value="") 
                        option(value="") 
                    //- div(class="botonesRegistro")
                    input#bRegistrarDatos(class="botonesRegistro" type="submit" value="ENVIAR")
                    //- label#rellenar(hidden) no
            