doctype html
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title REGISTRAR USUARIO
        //- link(rel="stylesheet" type="text/css" href="css/estilos.css")
        link(rel="icon" href="img/archivero.svg")
    body
        form(action="/registrarUsuario" method="post")
            input(type="text", name="usuario")         
            input(type="password", name="clave")
            input(type="password", name="claveConfirmacion")
            input(type="submit", value="Registrar")

        script(type='text/javascript').
            if(2>3){
                var cuerpo = getElementByTagName('body')//#{mensaje}
                const mensaje = document.createElement("div");
                const texto = document.createTextNode("mensaje nuevo");
                mensaje.appendChild(texto);
                cuerpo.insertBefore(mensaje, cuerpo.firstChild);
                //- cuerpo.innerHTML = `div asd`;
            }
                
        