extends layout.pug
block content

    
    div(class="contenedorForm") 
        h1 REGISTRAR
        form(action="", method="post" class="formulario") 
            div(class="cuerpoFormulario")
                div(class="pdf") 
                    h2 SUBIR ARCHIVO
                    img(src="/img/pdf.svg", alt="", srcset="")
                div(class="datos")                     
                    h2 DATOS
                    input(type="text", name="", placeholder="Titulo documento")            
                    label(for="") Fecha de Recepción 
                    input(type="date", name="")                                
                    label(for="") Fecha del documento
                    input(type="date", name="")   
                    input(type="number", name="", placeholder="Número de hojas")                      
                    input(type="text", name="", placeholder="Autor")            
                    textarea(name="Text1" cols="auto" rows="3" placeholder="Descripción")
                    label(for="") Fecha de Remisión
                    input(type="date", name="")        
                    input(type="text", name="", placeholder="Oficina/área")                    
                    div(class="botonesRegistro")
                        button(type="submit") ENVIAR
            